[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-apscheduler = "*"
flask-sqlalchemy = "*"
phue = "*"
pendulum = "*"
gunicorn = "*"
requests = "*"

[dev-packages]
ipdb = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
